.block {
    display: flex;
}

.leftArrow {
    color: #666;
    transition: 300ms;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.leftArrow:hover {
    color: #0ABC76;
}

ul.tree, ul.tree ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    background: transparent url(http://odyniec.net/articles/turning-lists-into-trees/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

.mainList {
    list-style: none;
    color: #666;
    font-weight: 500;
}

ul.tree ul  {
    margin: 5px 0 5px 31px;
    width: 95%;

}

ul.tree li {
    width: 100%;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0 8px;
    line-height: 20px;
    background: transparent url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;
    color: #666;
    /* background-color: lawngreen; */
    font-weight: 500;
}

ul.tree li:last-child {
    background: #FCFCFC url(http://odyniec.net/articles/turning-lists-into-trees/lastnode.png) no-repeat;
}

/*ul.tree li:first-child {*/
/*    background: url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;*/
/*}*/

.borderLine span {
    cursor: pointer;
}

.ctrlButtons {
    opacity: .4;
    transition: 300ms;
}

.ctrlButtons:hover {
    opacity: 1;
}

.searchAnimated {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35) inset;
    padding: 2px 5px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.fonstStyale {

}


.selected {
    background-color: #eee !important;
}