.flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

@media (max-width: 600px) {
    .flexContainer {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .flexContainer {
        display: block;
    }
}