.workersWindow {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.workersWindow::-webkit-scrollbar {
    height: 4px;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    letter-spacing: .4pt;
}

@media (max-width: 600px) {

}