.progres {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 200;
    background-color: transparent;
}

.barColorPrimary {
    background-color: #ff8927;
}

.filters {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 144px 8px 8px;
    overflow: hidden;
}

.mobileMainSearch {
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media (max-width: 768px) {
    .filters {
        overflow: auto;
        padding: 56px 8px 8px;
    }
}

/* * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
 * *                             * *
 * *   characteristics tree styles   * *
 * *                             * *
 * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * */

/* width */
.classifiersWindow::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.classifiersWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.classifiersWindow::-webkit-scrollbar-thumb {
    background: rgb(253, 117, 91);
    border-radius: 10px;
    border: 4px solid #fff;
    transition: 300ms;
}

/* Handle on hover */
.classifiersWindow::-webkit-scrollbar-thumb:hover {
    background: rgba(254, 82, 51, 1);
    border-width: 0;
}

.classifiersWindow {
    height: auto;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 15px;
}

/*.nextSlideBtn {
    outline: none !important;
    position: absolute;
    right: 37px;
    top: 4px;
    padding: 10px;
    z-index: 1;
    border: none;
    background-color: transparent;
    transition: 300ms;
    cursor: pointer;
}

.nextSlideBtn:hover {
    transform: scale(1.5);
}*/



/*.prevSlideBtn {
    outline: none;
    position: absolute;
    left: 37px;
    top: 4px;
    padding: 10px;
    z-index: 1;
    border: none;
    background-color: transparent;
    transition: 300ms;
    cursor: pointer;
}

.prevSlideBtn:hover {
    transform: scale(1.5);
}*/



/****************************************************************************************/

.classifiersWindow .controllers {
    height: 45px;
    background-color: #fff;
    text-align: center;
    color: #414141;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: sticky;
    top: 0;
    z-index: 1;
}

.classifiersWindow .controllers > span {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 45px;
    line-height: 45px;
    transition: 300ms;
    user-select: none;
}

.classifiersWindow .controllers > span:hover {
    background-color: #eee;
}

.nextSlideBtn {
    outline: none !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 60px;
    z-index: 1;
    border: none;
    transition: 300ms;
    cursor: pointer;
    text-align: right;
    padding-right: 20px;
    background: transparent;
    visibility: hidden;
    opacity: 0;
}

.nextSlideBtn:hover {
    transform: translateY(-50%);
    background: #eee;
    color: #FF5019;
}

.nextSlideIcon {
    fill: #414141;
}

.nextSlideBtn:hover .nextSlideIcon {
    fill: #FF5019 !important;
}

.prevSlideBtn {
    outline: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 60px;
    z-index: 1;
    border: none;
    background: transparent;
    transition: 300ms;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
}

.prevSlideBtn:hover {
    transform: translateY(-50%);
    background: #eee;
    color: #FF5019;
}

.prevSlideIcon {
    fill: #414141;
}

.prevSlideBtn:hover .prevSlideIcon {
    fill: #FF5019;
}

.controllers:hover .nextSlideBtn,
.controllers:hover .prevSlideBtn {
    visibility: visible;
    opacity: 1;
}

/****************************************************************************************/

/*.classifiersWindow header {
    height: 45px;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    color: #414141;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 0 6px rgba(70, 131, 255, 0.18);
}*/

.classifBody {
    padding: 14px;
    box-sizing: border-box;
    /*max-height: 317px;*/
    height: 375px;
    overflow-y: auto;
}

/* width */
.classifBody::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.classifBody::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.classifBody:hover::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
}

/* Handle on hover */
.classifBody::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.selected {
    background-color: #eee;
}

.mainTreeName {
    display: flex;
    align-items: center;
}

.classifMainName {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #666;
}

.headerName {
    cursor: pointer;
    padding: 5px 25px;
    transition: 300ms;
    border-bottom: 1px solid transparent;
}

.headerName:hover {
    /*background: linear-gradient(to left, #fff, #eee, #fff);*/
    transition: 300ms;
    /*color: #fff;*/
    border-color: #ff7420;
    /*box-shadow: 0 0 0 4px rgba(255, 157, 82, 0.51);*/
}

.headerName:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.fonstStyale {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.modal {
    background-color: #F9F9FF;
    width: 600px;
    overflow: hidden;
    border-radius: 5px;
}

.allGroups {
    padding: 14px;
    box-sizing: border-box;
}

.allGroups > ul.allGroupsList {
    list-style: none;
}

.allGroups > ul.allGroupsList > li {
    margin-bottom: 10px;
}

.allGroups > ul.allGroupsList > li ul.allGroupsContentList {
    list-style: none;
    padding: 0;
}

.allGroups > ul.allGroupsList > li ul.allGroupsContentList > li {
    margin-bottom: 10px;
}

.modalGroup {
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    width: 600px;
}

/* * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
 * *                             * *
 * *     search window styles    * *
 * *                             * *
 * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * */

/* width */
.searchWindow::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.searchWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.searchWindow::-webkit-scrollbar-thumb {
    background: rgb(253, 117, 91);
    border-radius: 10px;
    border: 4px solid #fff;
    transition: 300ms;
}

/* Handle on hover */
.searchWindow::-webkit-scrollbar-thumb:hover {
    background: rgba(254, 82, 51, 1);
    border-width: 0;
}

.searchWindow {
    /*padding: 10px 14px 25px 14px;*/
    box-sizing: border-box;
    height: 100%;
    min-height: auto;
    /*background-color: #fff;*/
}

.desktopSearch {
    display: block;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 960px) {
    .searchWindow {
        overflow: hidden;
        height: auto;
        min-height: 100%;
    }
}

.finishedButtons {
    display: inline-flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10
}

.addButton {
    font-family: 'DejaVu Sans', sans-serif;
    outline: none !important;
    text-transform: capitalize;
    height: 42px;
    width: 170px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 6px rgba(2, 64, 89, 0.15);
    border-radius: 6px;
    font-size: 15px;
    color: #024059;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addButton:focus {
    background-color: rgb(249, 249, 249);
}

.addButton:hover {
    background-color: #024059;
    color: #fff;
}

.addButton:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8) inset;
}

.searchButton {
    font-family: 'DejaVu Sans', sans-serif;
    outline: none !important;
    text-transform: capitalize;
    height: 42px;
    width: 170px;
    background-color: #024059;
    border: none;
    box-shadow: 0 0 6px rgba(2, 64, 89, 0.15);
    border-radius: 6px;
    margin-left: 23px;
    font-size: 15px;
    color: #fff;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchButton:focus {
    background-color: rgb(249, 249, 249);
    color: #024059;
}

.searchButton:hover {
    background-color: #fff;
    color: #024059;
}

.searchButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.paper {
    width: 60%;
}

.root {
    padding: 8px !important;
}

ul.mainTree li {
    width: 100%;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0 8px;
    line-height: 20px;
    /*background: transparent url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;*/
    color: #666;
    /* background-color: lawngreen; */
    font-weight: 500;
}

ul.mainTree li:last-child {
    /*background: #FCFCFC url(http://odyniec.net/articles/turning-lists-into-trees/lastnode.png) no-repeat;*/
}

.subgroupsModal {
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    width: 600px;
}

@media (max-width: 576px) {
    .addButton {
        width: 120px;
        font-size: 12px;
    }

    .searchButton {
        width: 120px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .modalGroup, .modal, .actionModal, .subgroupsModal {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #fff;
    }

    .paper {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .actionModal {
        width: 100%;
    }

    .modalGroup, .modal, .actionModal, .subgroupsModal {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 0;
        background-color: #fff;
    }

    .paper {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}

@media (min-width: 960px) and (max-width: 1360px) {
    .paper {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
        padding: 0;
        max-height: 100%;
        max-width: 100%;
        border-radius: 0;
    }

    .modalGroup, .modal, .actionModal, .subgroupsModal {
        width: 94%;
        height: auto;
        overflow-y: auto;
        border-radius: 0;
        background-color: #fff;
    }
}

@media (min-width: 1360px) and (max-width: 1760px) {
    .paper {
        width: 86%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    .addButton {
        width: 140px;
        font-size: 12px;
    }

    .searchButton {
        width: 140px;
        font-size: 13px;
    }
}

@media (max-width: 959px) {
    .mobileMainSearch {
        display: block;
    }
    .desktopSearch {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .actionModal {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}




