.form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.changeControllerWindow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subgroupNameInput {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 30px;
    border: none;
    outline: none !important;
    background-color: transparent;
    color: #024059;
    letter-spacing: .4pt;
    font-size: 15px;
}

.subgroupNameLabel {
    display: none;
}
