.searchContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 17px 36px;
    border-radius: 6px;
    margin-bottom: 25px;
    background-color: #fff;
}

@media (max-width: 959px) {
    .searchContainer {
        padding: 15px;
    }
}