.codesTab {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.errorWindow {
    margin: 20px auto;
    text-transform: uppercase;
}

.content {
    width: 100%;
}

.information {
    color: #888888;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: .4pt;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.gridContainer > .codActions {
    width: 100%;
    margin-bottom: 14px;
}

.gridContainer > .attachment {
    width: 100%;
}

@media (max-width: 600px) {
    .codesTab {
        padding: 5px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .codesTab {
        padding: 5px;
    }
}