.codesTab {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.errorWindow {
    margin: 20px auto;
    text-transform: uppercase;
}

.content {
    width: 100%;
}

.information {
    /*color: #888888;*/
    /*font-size: 12px;*/
    font-weight: 100;
    letter-spacing: .4pt;
}

.errorFields {
    margin: 0 auto 40px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridContainer > .codActions {
    width: 100%;
    margin-bottom: 14px;
}

.gridContainer > .attachment {
    width: 100%;
}

.printButton {
    border: none;
    background-color: transparent;
    transition: 300ms;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
}

.printWindow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

@media (max-width: 600px) {
    .codesTab {
        padding: 5px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .codesTab {
        padding: 5px;
    }
}