.nameWindow {
    width: 90%;
    margin: 0 auto 20px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameWindow .nameInput {
    width: 350px;
    border: none;
    border-bottom: .5pt solid #cacaca;
    font-size: 13px;
    font-family: 'DejaVu Sans', sans-serif;
    color: #8F8F8F;
    padding: 0 3px;
    box-sizing: border-box;
    display: block;
    transition: 300ms;
}

.nameWindow .nameInput:focus {
    color: #444;
    border-color: #666;
}

.nameWindow .errorField {
    border-color: #FF4B63;
    border-width: 2px;
    animation: error 2s ease-in-out alternate;
    animation-iteration-count: 4;
    transform: scale(1)
}

.nameWindow .nameLabel {
    display: none;
}

.labelStyle {
    font-size: 12px;
    color: #323232;
    letter-spacing: .4pt;
}