.header {
    box-sizing: border-box;
    padding: 5px 0 0;
    margin: 0 30px;
    width: auto;
    height: 70px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f4f4f4;
    overflow: hidden;
}

.header > h1 {
    letter-spacing: .4pt;
    text-align: center;
    font-weight: 500;
    margin: 0 0 5px;
}

.header > span {
    display: block;
    text-align: left;
    font-size: 12px;
    letter-spacing: .4pt;
    margin: 0;
}