.messageOwner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messageOwnerImage {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageOwnerImage > img {
    height: 29px;
    display: block;
}

.messageOwner > h6 {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .2pt;
    font-size: 11px;
    color: #0A0A0A;
}

