.employeesTab {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.content {
    width: 100%;
}

.information {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .6pt;
}

.textFieldWindow {
    width: 100%;
    margin-top: 30px;
    border-radius: 8px 8px 0 0;
}

.textFieldRoot {
    border: none !important;
}

.workersWindow {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.progress {
    height: 1px;
    background-color: transparent;
}

.progresBgColor {
    background-color: #FF8927 !important;
}

.suppliersContent {
    width: 100%;
    position: relative;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
}

@media (max-width: 600px) {
    .employeesTab {
        padding: 5px;
    }
    .workersWindow {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}