.modalTabPages {
    width: calc(100% - 220px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .modalTabPages {
        width: 100%;
        height: calc(100% - 40px);
    }
}