.mainTab {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.content {
    width: 100%;
}

.imagesWindow {
    width: 100%;
    font-weight: 900;
    font-size: 12px;
}

.dataWindow {
    width: 100%;
    font-weight: 900;
    font-size: 12px;
}