.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.header h2 {
    margin: 0;
    /*font-size: 18px;*/
    /*color: #49525E;*/
    font-weight: 400;
}

.saveButton {
    border: none;
    /*background-color: transparent;*/
    outline: none;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    transition: 300ms;
}

.saveButton:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4) inset;
}

.saveButton:focus {
    background-color: rgba(164, 164, 164, 0.1);
}

.saveButtonIcon {
    /*fill: #a4a4a4;*/
    transition: 300ms;
}

.saveButton:hover .saveButtonIcon {
    fill: #2abc2b;
}

.closeButton {
    border: none;
    background-color: #F8FAFF;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 300ms;
}

.closeButton:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4) inset;
}

.closeButton:focus {
    background-color: rgba(164, 39, 31, 0.1);
}

.closeButtonIcon {
    fill: #4b4b4b;
    stroke: #4b4b4b;
    opacity: 0.5;
}

.closeButton:hover .closeButtonIcon {
    fill: #ff4a4a;
    stroke: #ff4a4a;
    opacity: 1;
}