.imageWindow {
    height: 110px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgba(0, 0, 0, .04);
}

.image {
    height: 110px;
    display: block;
}