.block {
    display: flex;
}

.leftArrow {
    color: #666;
    transition: 300ms;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.leftArrow:hover {
    color: #0ABC76;
}

ul.tree, ul.tree ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    background: #fff url(http://odyniec.net/articles/turning-lists-into-trees/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

.mainList {
    list-style: none;
    color: #666;
    font-weight: 500;
}

ul.tree ul {
    margin: 5px 0 5px 28px;
    width: calc(100% - 28px);

}

ul.tree li {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 10px;
    line-height: 20px;
    background: url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;
    color: #666;
    /* background-color: lawngreen; */
    font-weight: 500;
    box-sizing: border-box;
}

ul.tree li:last-child {
    background: #fff url(http://odyniec.net/articles/turning-lists-into-trees/lastnode.png) no-repeat;
}

/*ul.tree li:first-child {*/
/*    background: url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;*/
/*}*/

.borderLine > span > svg:first-child {
    cursor: pointer;
}

.ctrlButtons {
    opacity: .4;
    transition: 300ms;
}

.ctrlButtons:hover {
    opacity: 1;
}

.searchAnimated {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35) inset;
    padding: 2px 5px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.name {
    height: 20px;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
}

.searchItem {
    color: #0eb139;
}

.mainNameBlock {
    display: block;
    position: relative;
    transition: 300ms;
}

.mainNameBlock:hover {
    background-color: #F8EBEB;
    cursor: default;
}

.mainNameBlockSelected {
    background-color: #f8f8f8;
}

.itemMenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.controllerButtons {
    width: 84px;
    overflow: hidden;
    height: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 300ms;
    visibility: hidden;
    opacity: 0;
}

.controllerButtonsOpened {
    visibility: visible;
    opacity: 1;
}

.ctrAllBtn {
    border: none;
    outline: none !important;
    background-color: transparent;
    padding: 0;
    cursor: pointer;display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    transition: 300ms;
}

.cntBtns {
    border-radius: 2px;
}

.cntBtns:hover {
    background: #fff;
}

.cntBtns:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6) inset;
}

.arrows {
    fill: #61a8dd;
}

.addIcon {
    fill: #0eb139;
    stroke: #0eb139;
}

.deleteIcon {
    fill: #fe5f55;
    stroke: #fe5f55;
    stroke-width: 1px;
}

.editIcon {
    fill: #747ad5;
}

.insertBtn {
    color: #1768a5;
    margin-left: 5px;
    margin-right: 0;
    padding: 0 5px;
    box-sizing: border-box;
    visibility: hidden;
    border-right: 1px solid #bfbbbb;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.insertBtn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 300ms;
    background-color: rgba(23, 104, 165, 0.7);
    overflow: hidden;
}

.insertBtn:hover {
    color: #fff;
}

.insertBtn:hover:after {
    width: 100%;
}

.mainNameBlock:hover .insertBtn,
.mainNameBlock:hover .cancelBtn {
    visibility: visible;
    opacity: 1;
}

.cancelBtn {
    visibility: hidden;
    opacity: 0;
    color: #ff4a4a;
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
    border-left: 1px solid #bfbbbb;
    position: relative;
    z-index: 1;
}

.cancelBtn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 300ms;
    background-color: rgba(255, 74, 74, 0.7);
    overflow: hidden;
}

.cancelBtn:hover {
    color: #fff;
}

.cancelBtn:hover:after {
    width: 100%;
}

.cut {
    opacity: .2;
}