.customHeader {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 12px 0;
    overflow: hidden;
}

.customHeader > h3 {
    margin: 0 0 7px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    border: solid #FF8927;
    border-width: 0 0 1px;
}

.angle {
    fill: #434343;
    stroke: #434343;
    stroke-width: 0.6px;
}

.collapseButton {
    border: none;
    outline: none !important;
    background-color: transparent;
    transition: 300ms;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.collapseButton:hover {
    background-color: rgba(255, 137, 39, 0.1);
}

.collapseButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}