.classifiersTab {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.content {
    width: 100%;
}

.information {
    color: #888888;
    font-size: 12px;
    letter-spacing: .4pt;
    font-weight: 600;
}

.classifiersControlWindow {
    margin-top: 40px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 4px 55px;
}

.errorFields {
    margin: 20px auto;
}

@media (max-width: 600px) {
    .information {
        font-size: 10px;
    }
    .classifiersTab {
        padding: 5px;
    }
    .information {
        margin: 0;
    }
    .classifiersControlWindow {
        padding: 5px;
        margin-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .information {
        font-size: 10px;
    }
    .classifiersTab {
        padding: 5px;
    }
    .information {
        margin: 0;
    }
    .classifiersControlWindow {
        padding: 5px;
        margin-top: 20px;
    }
}