.myContextMenu {
    width: 160px;
    height: auto;
    background-color: #eee;
    border: 1px solid #ccc;
    position: fixed;
    z-index: 10;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .24);
    transition: 300ms;
    padding: 0 5px;
    box-sizing: border-box;
}

.myContextMenu:hover {
    border-color: #aaa;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .35);
}