.dialogRoot {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
}

.scrollWindow {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

/* width */
.scrollWindow::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.scrollWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.scrollWindow::-webkit-scrollbar-thumb {
    background: #aaa;
    border: 2px solid transparent;
    background-clip: content-box;
    box-sizing: border-box;
}

/* Handle on hover */
.scrollWindow::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}