.user {
    padding: 162px 0 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.userHeader {
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    box-sizing: border-box;
    background: #1B5985 url("https://wallpaperaccess.com/full/88167.jpg") no-repeat fixed center;
    background-size: cover;
}

.userImageWindow {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.4);
    background-color: #81889A;
    background-clip: content-box;
    z-index: 10;
    overflow: hidden;
}

.userImageWindow > img {
    height: 200px;
}

.configurations {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configurations:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -225px;
    width: 0;
    height: 100px;
    border: dashed #fff;
    border-width: 0 2px 0 2px;
    transform: translateX(-50%);
}

.configurations:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -120px;
    width: 0;
    height: 200px;
    border: dashed #1B5985;
    border-width: 0 2px 0 2px;
    transform: translateX(-50%);
}

.configurationsSliderWindow {
    width: 80%;
    height: auto;
    padding: 80px 0;
    margin-top: 30px;
    box-sizing: border-box;
}

.nextClassName {
    border: none;
    background-color: #eee;
    padding: 0;
    width: 60px;
    height: 60px;
    color: #1B5985;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(calc(-50% + 36px));
    cursor: pointer;
    transition: 300ms;
}

.nextClassName:hover {
    background-color: #1B5985;
    color: #fff;
}

.prevClassName {
    border: none;
    background-color: #eee;
    padding: 0;
    width: 60px;
    height: 60px;
    color: #1B5985;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(calc(-50% - 35px));
    cursor: pointer;
    transition: 300ms;
}

.prevClassName:hover {
    background-color: #1B5985;
    color: #fff;
}

.slideItem {
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Mardoto-Regular;
    border-bottom: 2px solid transparent;
    transition: 300ms;
    position: relative;
    z-index: 1;
}

.slideItem:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0;
    border-bottom: 2px solid transparent;
    transition: 300ms;
    z-index: -1;
}

.slideItem:hover:after {
    border-color: #FE5233;
    width: 100%;
}

.Category {
    color: #666;
    text-align: center;
}

.Category h4 {
    color: #4DA3E1;
    font-weight: 100;
    font-size: 14px;
}

@media (max-width: 768px) {
    .user {
        padding: 56px 8px 0;
    }
}