.confirmButton {
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    background-color: #67CA51;
    border-radius: 6px;
    padding: 10px 31px;
    border: none;
    outline: none !important;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
    text-transform: capitalize;
}

.confirmButton:hover {
    background-color: #74e35c;
}
.confirmButton:focus {
    box-shadow: 0 0 0 4px rgba(116, 227, 92, 0.5);
}