.footer {
    /*background-color: #fff;*/
    width: 100%;
    height: 54px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.iconButton {
    margin-right: 10px;
}

.removeButtonIcon {
    /*fill: #FF4B63;*/
}

@media (max-width: 600px) {
    .footer {
        position: sticky;
        bottom: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 5px;
        margin: auto 0 0 0;
    }
}