.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.actionsButton {
    box-sizing: border-box;
    padding: 0 5px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
    background-color: transparent;
    cursor: pointer;
    color: #4172ce;
    transition: 300ms;
}

.actionsButton:hover {
    background-color: rgba(65, 114, 206, 0.2);
}

.actionsButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.actionsButton:first-child {
    color: #67ca51;
}

.actionsButton:first-child:hover {
    background-color: rgba(103, 202, 81, 0.2);
}

.successButton {
    width: 19px;
    min-width: auto;
    height: 19px;
    border-radius: 0;
    padding: 0;
}

.successButton:hover {
    background-color: #d2fdc6;
}

.cutBtn {
    width: 19px;
    min-width: auto;
    height: 19px;
    border-radius: 0;
    padding: 0;
}

.cutBtn:hover {
    background-color: rgb(255, 196, 206);
}