@font-face {
    font-family: 'Mardoto-medium';
    src: url("../fonts/Mardoto-Medium.ttf");
}

@font-face {
    font-family: 'Mardoto-Regular';
    src: url("../fonts/Mardoto-Medium.ttf");
    src: url("../fonts/Mardoto-Light.ttf");
}

* {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

body {
    background-color: #FBFCFF !important;
}
