.appBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 500ms;
}

.hideAppBar {
    top: -100%;
    /*display: none;*/
}

.navLink {
    color: #444 !important;
    font-weight: 100;
    /*padding: 10px;*/
    box-sizing: border-box;
    margin-right: 5px;
}

.active {
    color: rgb(0, 157, 160) !important;
}

.upPanel {
    transition: 100ms;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background: #024059;
    padding: 0 0 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    opacity: 1;
    position: relative;
}

.hidden {
    height: 0;
}

.projectName {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    /*font-family: Montserrat, sans-serif;*/
    cursor: pointer;
}

.toolsPanel {
    display: flex;
    justify-content: flex-end;
}

.toolsPanel > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationsCount {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    background-color: #03D9D9;
    font-size: 10px;
    font-weight: 400;
}

.messageCount {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    background-color: #FF8927;
    font-size: 10px;
    font-weight: 400;
}

.userWindow {
    position: relative;
}

.socButtons {
    user-select: none;
    cursor: pointer;
    border: none;
    outline: none !important;
    background-color: transparent;
    height: 48px;
    width: 48px;
    padding: 0;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.personIcon {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0.1px;
    transition: 300ms;
}

.chatIcon {
    fill: #fff;
    transition: 300ms;
}

.socButtonsActive {
    background-color: #E6F8FF;
}

.socButtonsActive .personIcon {
    fill: #171717;
    stroke: #171717;
}

.socButtonsActive .chatIcon {
    fill: #171717;
    stroke: #171717;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .67);
}

.leftBar {
    display: flex;
    align-items: center;
}

.backdropMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
}

.user span {
    color: #fff;
    font-size: 13px;
    /*font-family: Mardoto-medium;*/
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.userContent {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 180px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 9px rgba(35, 62, 170, 0.33);
    padding: 0;
    box-sizing: border-box;
    z-index: 101;
    border-radius: 6px;
}

.userContent:after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 100%;
    right: 14px;
    z-index: 10;
}

.userContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex-start;*/
}

.userContent ul  li {
    display: block;
    margin: 0;
    padding: 0 14px;
}

.dropLinks {
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 5px 0;
}

.dropLinks svg {
    vertical-align: middle;
}

.dropLinks:hover {
    background-color: #ececec;
}

.userName {
    margin: 0 auto !important;
    width: 95%;
    overflow: hidden;
    text-align: center;
    /*font-family: Mardoto-medium;*/
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
}

.userName > span {
    color: #3B3B3B;
    font-size: 12px;
    padding: 13px 0;
    display: block;
    font-weight: bold;
}

.myPage span {
    margin-left: 15.5px;
    font-size: 12px;
    /*font-family: Mardoto-medium;*/
    font-weight: bold;
    color: #3B3B3B;
}

.configuration span {
    margin-left: 15.5px;
    font-size: 12px;
    /*font-family: Mardoto-medium;*/
    font-weight: bold;
    color: #3B3B3B;
}

.logout span {
    margin-left: 15.5px;
    font-size: 12px;
    /*font-family: Mardoto-medium;*/
    font-weight: bold;
    color: #3B3B3B;
}

.dropActive {
    border-left: 1px solid #062C70;
    background-color: #FCFCFC;
}

.menu {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    z-index: 2;
}

.menu > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuList {
    transition: 200ms;
    text-transform: uppercase;
    display: flex;
    width: 127px;
    height: 79px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8b8b8b;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.menuListActive {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
    color: #ff8927 !important;
    fill: #ff8927;
    transform: scale(1.02);
    transform-origin: top;
    background-color: #fff;
}

.showArrow:after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 30px;
    height: 30px;
    /* border: 10px solid; */
    /* border-color: transparent transparent #024059 transparent; */
    z-index: 10;
    box-shadow: 0 0 6px rgba(162, 186, 248, 0.29);
    background-color: #fff;
}

.icons {fill: #171717;}

.menuListActive .icons {
    fill: #ff8927;
}

.menuBtn {
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    margin-right: 10px;
    display: none;
    position: relative;
    z-index: 100;
    border-radius: 6px;
    transition: 300ms;
    cursor: pointer;
}

.menuBtn:hover {
    color: #ff8927;
}

.menuBtn:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .7) inset;
}

.submenuBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .67);
}

@media (min-width: 768px) {
    .backdropMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .menuBtn {
        display: inline;
    }

    .submenuBackdrop {
        display: none;
    }

    .menuBtnOpen {
        transform: translateX(240px) !important;
    }

    .menu {
        display: none;
    }

    .textElem {
        visibility: visible;
        opacity: 1;
        height: 25px !important;
        overflow: hidden;
        transition: 200ms;
    }

    .subMenu {
        display: none;
    }
}

.menuList:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
}

.minimize {
    width: 48px;
    height: 48px;
}

.textElem {
    visibility: visible;
    opacity: 1;
    height: 25px;
    overflow: hidden;
}

.hiddenElem {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.menuList span {
    font-size: 8px;
    /*font-family: Mardoto-Regular, sans-serif;*/
}

.menuListActiveProd {
    border-radius: 0 8px 0 0;
    box-shadow: 1px -7px 6px rgba(0, 0, 0, .14), -1px -7px 6px rgba(0, 0, 0, .14);
    color: #FE5233 !important;
    fill: #FE5233;
    background-color: #fff;
}

.subMenu {
    width: 100%;
    height: 52px;
    padding: 5px 0;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(162, 186, 248, 0.28);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1;
}

.subMenuList {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subMenuList > li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 25px;
    height: 20px;
    border-left: .1px solid #858585;
    box-sizing: border-box;
    line-height: 20px;
    cursor: pointer;
}

.subMenuLink {
    font-size: 12px;
    /*font-family: Mardoto-Regular, sans-serif;*/
    color: #313131 !important;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.subMenuList > li:first-child {
    border-left: none !important;
}


.subMenuActive {
    border-bottom: 1px solid #FE5233;
    /*font-family: Mardoto-medium, sans-serif;*/
}

@media (max-width: 600px) {
    .ownerConf {
        font-size: 10px !important;
    }
}
