.root {
    background-color: #fff !important;
    box-shadow: 0 0 7px rgba(20, 20, 20, 0.19);
    position: sticky;
    top: 0;
}

.selected {
    color: #024059 !important;
}

.TabScrollRoot {
    color: #024059 !important;
}

.scrollButtonsDesktop {
    display: inline-flex !important;
}

.indicator {
    background-color: #024059 !important;
}

.tabPanelRoot {
    height: 485px;
}

@media (max-width: 600px) {
    .tabPanelRoot {
        height: max-content;
    }
}