.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 119;
    background-color: rgba(0, 0, 0, .8);
}

.notificationModal {
    position: fixed;
    background-color: #fff;
    z-index: 120;
    top: 58px;
    right: 58px;
    width: 70%;
    height: 100%;
    max-height: calc(100% - 120px);
    border-radius: 6px;
    box-shadow: 0 0 9px rgba(162, 186, 248, 0.4);
}

.notificationModal:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50px;
    z-index: 1;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

@media (max-width: 600px) {
    .notificationModal {
        width: 95%;
        right: 50%;
        transform: translateX(50%);
    }
    .notificationModal:after {
        right: 100px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .notificationModal {
        width: 95%;
        right: 50%;
        transform: translateX(50%);
        max-height: calc(100% - 80px);
    }
    .notificationModal:after {
        right: 90px;
    }
}