.modal {
    background-color: #F9F9FF;
    width: 600px;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .modal {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #fff;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .modal {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 0;
        background-color: #fff;
    }
}

@media (min-width: 960px) and (max-width: 1360px) {
    .modal {
        width: 94%;
        height: auto;
        overflow-y: auto;
        border-radius: 0;
        background-color: #fff;
    }
}