.apm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.apm > span {
    color: #8F8F8F;
    font-size: 13px;
    font-style: italic;
}

.apm > span > span {
    color: #2B2B2B;
    font-size: 17px;
    font-style: normal;
    margin-left: 10px;
}

.textField {
    width: 100%;
}

.dataItem {
    margin: 30px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.dataItem:last-child {*/
/*    padding-bottom: 0;*/
/*    margin-bottom: 0;*/
/*}*/

.customSelect {
    width: 90%;
    box-sizing: border-box;
    /*color: #666;*/
}

.spaceAround > div:first-child {
    width: calc(100% - 10px);
    margin-right: 10px;
}

.spaceAround > div:last-child {
    width: calc(100% - 10px);
    margin-left: 10px;
}

.spaceAround {
    justify-content: space-around;
}

.selectRoot {
    width: 100% !important;
}

.flexLgContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexLgContainer > div {
    width: 50%;
}

.formControl {
    width: 100%;
}

.flexStart {
    justify-content: flex-start;
}

.flexStart > div {
    margin-right: 20px;
}

.checkbox {
    /*color: #737373;*/
    /*font-size: 12px;*/
    font-weight: 600;
}

.checkBoxWindow {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 600px) {
    .dataItem {
        flex-direction: column;
    }
    .dataItem > div {
        width: 100%;
        margin-bottom: 10px;
    }
    .checkbox {
        width: 100%;
        display: flex;
    }
    .checkBoxWindow {
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: space-between;
    }
    .labelStyle {
        width: 100%;
        float: none;
    }

    .customSelect {
        width: 100%;
        margin-bottom: 20px;
    }

    .spaceAround > div:first-child {
        width: 100%;
        margin-right: 0;
    }

    .spaceAround > div:last-child {
        width: 100%;
        margin-left: 0;
    }

    .flexLgContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flexLgContainer > div {
        width: 100%;
    }
}

@media (min-width: 960px) and (max-width: 1360px) {
    .flexStart {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .flexStart > div {
        margin: 0 3px 5px 0;
    }
}

@media (min-width: 1360px) and (max-width: 1760px) {
    .flexStart {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .flexStart > div {
        margin: 0 5px 5px 0;
    }
}