.nodeName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.isEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ccc;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #024059;
    transition: 300ms;
}

.toggle:hover {
    background: #024059;
    color: #fff;
}

.collapseButton {
    padding-left: 0;
    border: 0;
    outline: none !important;
    background-color: transparent;
    color: inherit;
}

.collapse {
    padding-left: 18px;
    box-sizing: border-box;
}