.dataItem {
    /*width: 148px;*/
    height: 34px;
    padding: 0 5px 0 0;
    outline: none !important;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #dfe3e4;
    color: #024059;
    margin: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
}

.dataItem:hover {
    background-color: #024059;
    color: #fff;
}

.dataItem:focus {
    box-shadow: 0 0 0 4px rgba(2, 64, 89, 0.2) !important;
}

.dataItem:active  {
    box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.4) inset !important;
}

.dataItem > div:first-child {
    min-width: 34px;
    height: 34px;
    border-radius: 6px;
    background: #fff;
    position: relative;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
}

.dataItem > div:last-child {
    /*width: calc(100% - 34px);*/
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.countWindow {
    margin-right: 5px;
}

.dataItem > div:first-child > div.countNumber {
    /*min-width: 34px;*/
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 6px;
    background: #fff;
    color: #024059;
    box-sizing: border-box;
    /*padding: 0 5px;*/
    font-size: 12px;
    font-weight: 600;
}

.active {
    color: #fff;
    background-color: #024059;
}