.actionButtons {
    outline: none !important;
    /*background-color: transparent;*/
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*font-size: 20px;*/
    /*color: #ccc;*/
}

.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FF8927;
}

.actionButtons:hover {
    background-color: #f8f8f8;
}

.actionButtons:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.activePaste {
    /*background-color: rgba(206, 155, 92, 0.15);*/
}

.changePositionTooltipContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentSpan {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {/*color: #2eb51f;*/}

.cut {/*color: #0da3e0;*/}

.paste {/*color: #ce9b5c;*/}

.groupArrowSelected {
    /*stroke: #44B1FF;*/
    stroke-width: 0.2px;
}

.iconsInactive {
    /*stroke: #000;*/
    stroke-width: 0.2px;
}

.groupAddInactive {
    /*fill: #000;*/
    /*stroke: #000;*/
    opacity: .18;
}

.containedEditSelected {
    /*fill: #3D6AFF;*/
}

.groupAddSelected {
    /*fill: #70E839;*/
    /*stroke: #70E839;*/
}

.groupDeleteSelected {
    /*fill: #FF4B63;*/
}