.pricesTab {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.content {
    width: 100%;
}

.information {
    /*color: #888888;*/
    /*font-size: 12px;*/
    font-weight: 100;
    letter-spacing: .6pt;
    margin-bottom: 30px;
}

.progress {
    height: 1px;
    /*background-color: transparent;*/
}

.progresBgColor {
    background-color: #FF8927 !important;
}

.priceContent {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.exchangeWindow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*font-size: 11px;*/
    /*color: #666;*/
    letter-spacing: .4pt;
}

.exchangeWindow > span {
    margin-right: 5px;
}

.exchangeWindow > b {
    /*color: #fff;*/
    font-weight: 800;
    padding: 3px 5px;
    /*background-color: #046086;*/
    border-radius: 3px;
}

.priceContent > p {
    margin: 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms;
    cursor: default;
    box-sizing: border-box;
    padding: 6px 0 0 3px;
}

.priceContent > p:hover {
    background-color: rgba(0, 0, 0, .04);
}

.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*color: #aaa;*/
    height: 26px;
    width: 50%;
}

.active {
    /*color: #024059;*/
    font-weight: 600;
}

.input {
    outline: none !important;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #aaa;
    width: 50%;
    /*background-color: transparent;*/
    height: 26px;
    /*font-size: 12px;*/
    font-weight: 100;
    letter-spacing: .4pt;
    box-sizing: border-box;
    padding: 5px;
    /*color: #666;*/
}

.input:focus {
    border-width: 0 0 2px 0;
    border-color: #024059;
}

.error {
    border-color: #ff3939 !important;
    animation: error 100ms;
    animation-iteration-count: 3
}

@keyframes error {
    from {transform: translateX(2px);}
    to {transform: translateX(-2px);}
}

.request {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 0 10px;
    /*font-size: 12px;*/
    /*color: #ccc;*/
    letter-spacing: .4pt;
}

.requestIcon {
    /*font-size: 40px;*/
    margin-bottom: 10px;
    /*color: rgba(255, 137, 39, 0.4);*/
    animation: rotate 1000ms ease-out infinite;
}

@keyframes rotate {
    to {transform: rotate(360deg)}
}

.warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 0 10px;
    /*font-size: 12px;*/
    /*color: #ccc;*/
    letter-spacing: .4pt;
}

.warningIcon {
    /*font-size: 40px;*/
    margin-bottom: 10px;
    /*color: rgba(255, 57, 57, 0.4);*/
    animation: blink 1000ms linear alternate infinite;
}

@keyframes blink {
    to {color: #ff3939}
}

@media (max-width: 600px) {
    .pricesTab {
        padding: 0;
    }
    .label {
        font-size: 12px;
    }
}