.modalFooter {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .modalFooter {
        position: sticky;
        bottom: 0;
    }
}