.main {
    background-size: cover !important;
    background: linear-gradient(to top, #5b86e5, #36dadc);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notificationWindow {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.notification {
    position: relative;
    display: inline-block;
    /*top: 30px;*/
    right: 10px;
    margin: 5px 0;
    opacity: 1;
    /*width: 300px;*/
    padding: 10px 30px;
    border: 3px solid rgba(255, 85, 85, 0.3);
    background-color: rgba(255, 153, 153, 0.3);
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    animation: show 500ms linear;
}

.notification * {
    vertical-align: middle;
}

.notification:hover {
    border-color: rgba(255, 85, 85, .8);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
    /*background-color: #fff;*/
}

@keyframes show {
    from {
        right: -340px;
        opacity: 0;
    }
    to {
        right: 10px;
        opacity: 1;
    }
}

.mainWindow {
    text-align: center;
    width: 436px;
    height: auto;
    padding:  43px 38px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .16);
    border: none;
    overflow-y: auto;
    transition: 300ms;
    user-select: none;
}

/* width */
.mainWindow::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.mainWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.mainWindow::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #fff, #36dadc, #fff);
}

/* Handle on hover */
.mainWindow::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #fff, #5b86e5, #fff);
}

.name {
    margin: 0 0 24px;
    font-size: 34px;
    color: #1B5985;
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.action {
    text-transform: capitalize;
    display: block;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: 400;
    color: #444;
    padding: 10px 0;
}

.statusView {
    text-align: center;
}

.iconAnimated {
    animation: changeColor 1s linear alternate infinite;
}

@keyframes changeColor {
    from { color: #36D1DC}
    to {color: #5b86e5}
}

.iconVerified {
    color: forestgreen;
}

.iconError {
    color: #ff3939;
}

@media (max-width: 576px) {

    .mainWindow {
        width: 100%;
        /*height: 100%;*/
    }

    .signIn {
        width: 100%;
    }

    .password > span,
    .email > span {
        width: 20%;
    }

    .input {
        width: 60%;
    }
}