.colWindow {
}

.colWindow > div {
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .24);*/

}