.modalContent {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px;
}

.content {
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    margin: 10px auto 0;
    padding: 0 5px;
}

/* width */
.content::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.content::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
    border: 2px solid transparent;
    transition: 300ms;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    border-color: #aaa;
}

@media (max-width: 600px) {
    .modalContent {
        height: calc(100% - 105px);
    }
    .content {
        height: calc(100% - 56px);
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .modalContent {
        height: calc(100% - 105px);
    }
    .content {
        height: calc(100% - 56px);
    }
}