.main {
    background: linear-gradient(-30deg, #5b86e5, #36dadc);
    background-size: cover !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notificationWindow {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.notification {
    position: relative;
    display: inline-block;
    /*top: 30px;*/
    right: 10px;
    margin: 5px 0;
    opacity: 1;
    /*width: 300px;*/
    padding: 10px 30px;
    border: 3px solid rgba(255, 85, 85, 0.3);
    background-color: rgba(255, 153, 153, 0.3);
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    animation: show 500ms linear;
}

.notification * {
    vertical-align: middle;
}

.notification:hover {
    border-color: rgba(255, 85, 85, .8);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
    /*background-color: #fff;*/
}

@keyframes show {
    from {
        right: -340px;
        opacity: 0;
    }
    to {
        right: 10px;
        opacity: 1;
    }
}

.mainWindow {
    width: 436px;
    height: auto;
    padding:  43px 38px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .16);
    border: none;
    overflow-y: auto;
    transition: 300ms;
    user-select: none;
    position: relative;
}

/* width */
.mainWindow::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.mainWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.mainWindow::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #fff, #36dadc, #fff);
}

/* Handle on hover */
.mainWindow::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #fff, #5b86e5, #fff);
}

.name {
    margin: 0;
    margin-bottom: 24px;
    font-size: 34px;
    font-weight: lighter;
    color: #1B5985;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.action {
    display: block;
    margin-bottom: 21px;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Mardoto', sans-serif;
    color: #444;
    padding: 10px 0;
}

.email {
    background-color: #fff;
    border-bottom: 1px solid #888;
    height: 46px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    /*transition: 300ms;*/
}

.emailError {
    animation: errorEmail .1s ease-in-out alternate 2;
}

@keyframes errorEmail {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(5px);
    }
}

.email > * {
    display: block;
    height: 44px;
}

.email > span {
    width: 10%;
}

.password {
    background-color: #fff;
    border-bottom: 1px solid #888;
    height: 46px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    /*transition: 300ms;*/
}

.passwordError {
    animation: errorPassword .1s ease-in-out alternate 2;
}

@keyframes errorPassword {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(5px);
    }
}

.selected {
    border-bottom: 1.5px solid darkorange !important;
}

.password > * {
    display: block;
    height: 44px;
}

.password > span {
    width: 10%;
}

.forIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forIcon > svg {
    display: block;
}

.input {
    background: transparent;
    outline: none;
    width: 80%;
}

.forgetPassword {
    text-align: right;
    color: #578EE4;
    font-family: 'Mardoto', sans-serif;
    font-size: 12px;
    display: block;
    margin-bottom: 27px;
    margin-top: 11.5px;
    line-height: 16px;
}

.forgetPassword:hover {
    color: #4DA3E1;
    user-select: none;
}

.signIn {
    background: linear-gradient(to right, #F53803, #F5D020);
    width: 242px;
    height: 43px;
    border: none;
    outline: none;
    font-family: 'Mardoto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    transition: 300ms;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.signIn:hover {
    box-shadow: 0 0 5px 2px rgba(255, 172, 46, 0.55);
}

.signIn:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.createAccount {
    display: flex;
    justify-content: center;
}

.createAccount > * {
    display: block;
}

.createAccount > span {
    color: #878787;
    font-size: 10px;
    font-family: 'Mardoto', sans-serif;
    margin-right: 5px;
}

.signUp {
    font-family: 'Mardoto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #1790FF;
    font-weight: 500;
}

.signUp:hover {
    color: #36dadc;
}


.error {
    color: #ff3939 !important;
    border-color: #ff3939;
}

.progres {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

.progresBgColor {
    background: transparent !important;
}

@media (max-width: 576px) {

    .mainWindow {
        width: 100%;
        /*height: 100%;*/
    }

    .signIn {
        width: 100%;
    }

    .password > span,
    .email > span {
        width: 20%;
    }

    .input {
        width: 60%;
    }
}