.checkboxLabel {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
}

.checkBoxWindow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox {
    margin-left: 10px;
    width: 44px;
    height: 20px;
    background-color: #c6c6c6;
    border-radius: 25px;
    position: relative;
    /*box-shadow: 1px 1px 6px rgba(0, 0, 0, .6) inset;*/
}

.checkbox:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    /*box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .4);*/
    transition: 300ms;
}

.checkboxChecked {
    background-color: #67CA51;
    transition: 300ms;
}

.checkboxChecked::after {
    left: 26px;
}