.checkboxLabel {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
}

.checkBoxWindow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}

.disabled .checkbox {
    background-color: #eeeeee !important;
}

.disabled {
    color: #eee !important;
}

.checkbox {
    margin-left: 10px;
    width: 42px;
    height: 20px;
    background-color: #c6c6c6;
    border-radius: 25px;
    position: relative;
    transition: 300ms;
}

.checkbox:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    transition: 300ms;
}

.checkboxChecked {
    background-color: #67CA51;
}

.checkboxChecked::after {
    left: 23px;
}