.form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.addWindow {
    width: 100%;
    height: 30px;
    /*background-color: #fff;*/
    display: flex;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.first {
    padding-left: 22px;
}

.addWindow > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.addWindow > div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.addInput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 30px;
    border: none;
    outline: none !important;
    background-color: transparent;
    color: #024059;
    letter-spacing: .4pt;
    font-size: 15px;
    /*border-bottom: 2px solid #FF8927;*/
}

.addLabel {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}