.main {
    width: 100%;
    height: auto;
}

.main > header {
    height: 48px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalButton {
    outline: none !important;
    transition: 300ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    margin: 0 10px;
    padding: 5px;
    border: none;
    background: transparent;
}

.backButtonIcon {
    fill: #4b4b4b;
    opacity: 0.56;
    transition: 300ms;
}

.backButton:focus {
    background-color: rgba(77, 163, 225, 0.1);;
}

.backButton:hover {
    background-color: rgba(77, 163, 225, 0.3);
    border-radius: 5px;
}

.backButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6) inset;
}

.backButton:hover .backButtonIcon {
    fill: #4DA3E1;
    opacity: 1;
}

.closeButton {
    margin: 0 10px;
    border: none;
    background-color: #F8FAFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButtonIcon {
    fill: #4b4b4b;
    stroke: #4b4b4b;
    opacity: 0.5;
    transition: 300ms;
}

.closeButton:focus {
    background-color: rgba(255, 74, 74, 0.1);
}

.closeButton:hover {
    background-color: rgba(255, 74, 74, 0.3);
}

.closeButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6) inset;
}

.closeButton:hover .closeButtonIcon {
    fill: #ff4a4a;
    stroke: #ff4a4a;
    opacity: 1;
}

.modalLabel {
    font-size: 18px;
    color: #49525E;
    font-weight: 600;
}

.mainContent {
    width: 100%;
    box-sizing: border-box;
    padding: 21px 31px;
}

.imageWindow {
    width: 360px;
    height: 360px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #eee;
}

.classNameLabel img {
    height: 360px;
    margin: 0 auto;
    display: block;
}

.classNameLabel {
    cursor: pointer;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    outline: none !important;
}

.classNameLabel:hover {
    background-color: #d7d5d5;
}

.classNameLabel:active {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .6) inset;
}

.dataWindow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.nameInput {
    width: 100%;
    padding: 12px 19px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none !important;
    font-size: 15px;
    color: #666;
    transition: 300ms;
    margin-right: 10px;
}

.nameInput:hover {
    border-color: #4683FF;
}

.nameInput:focus {
    border-color: #4683FF;
    box-shadow: 0 0 0 4px rgba(70, 131, 255, 0.3);
}

.treeWindow {
    width: 100%;
    height: 260px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
.treeWindow::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.treeWindow::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.treeWindow::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
.treeWindow::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    border-radius: 5px;
}

.errorWindow {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fonstStyale {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.dataWindow > footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.alertShow {
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 12px;
    height: 50px;
    transition: 500ms;
    overflow: hidden;
    display: flex;
    align-items: center;
    visibility: visible;
}

.alertHidden {
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 12px;
    transition: 500ms;
    overflow: hidden;
    height: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
}

@media (max-width: 600px) {
    .dataArea {
        flex-direction: column;
        align-items: flex-end;
    }
    .imageWindow {
        width: 100%;
        background-color: transparent;
        height: auto;
    }
    .classNameLabel {
        width: 100%;
        box-sizing: border-box;
        height: auto;
    }
    .classNameLabel > img {
        height: auto;
        width: 100%;
    }
    .nameInput {
        margin: 0 0 20px;
    }
    .confirmButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .dataArea {
        flex-direction: column;
        align-items: flex-end;
    }
    .nameInput {
        margin: 0 0 20px;
    }
    .imageWindow {
        width: 100%;
        background-color: transparent;
        height: auto;
    }
    .classNameLabel {
        width: 100%;
        box-sizing: border-box;
        height: auto;
    }
}