.locked-col {background: #ddd;border: none !important}
.locked-visible {background-color: #5dbfe2;color: #fff}
/*.green-row {border: none !important;}*/
/*.red-row {border: none !important;}*/

.tableHeader {
    text-transform: capitalize;
    color: #ED842B;
    background-color: transparent;
}