.cancelButton {
    box-sizing: border-box;
    color: #024059;
    background-color: #F7F7F7;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 31px;
    border: none;
    outline: none !important;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
}

.cancelButton:hover {
    color: #F7F7F7;
    background-color: #024059;
}

.cancelButton:focus {
    box-shadow: 0 0 0 4px rgba(2, 64, 89, 0.4);
}