.product {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    padding: 5px 5px 5px 0;
    cursor: grab;
    transition: 300ms;
}

.product:hover {
    border-left: 4px solid #024059;
    box-shadow: 2px 2px 4px rgba(2, 64, 89, 0.4) inset;
    border-radius: 0 6px 6px 0;
}
.selected {
    border-left: 4px solid #024059 !important;
    transition: 300ms;
    position: relative;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
}

.selected:after {
    content: "";;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}
