.codeData {
    width: 100%;
    min-height: 100px;
    /*height: 160px;*/
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}


/* width */
.codeData::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.codeData::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.codeData::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
    border: 2px solid transparent;
}

/* Handle on hover */
.codeData::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.barcodeActionButtons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteButton {
    border: none;
    background-color: transparent;
    transition: 300ms;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.groupDelete {
    fill: #FF4B63;
    border: .2pt solid #FF4B63;
    stroke-width: 0.2px;
    transition: 300ms;
}

.isEmpty {
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}