.classifiers {
    width: 100%;
}

@media (max-width: 600px) {
    .classifiers {
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    /* width */
    .classifiers::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    .classifiers::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .classifiers::-webkit-scrollbar-thumb {
        background: #ccc;
        background-clip: content-box;
        border: 2px solid transparent;
        transition: 300ms;
    }

    /* Handle on hover */
    .classifiers::-webkit-scrollbar-thumb:hover {
        background: #aaa;
        border-color: #aaa;
    }
}
