.classifiers {
    width: 100%;
}

.classifiers > header {
    height: 48px;
    width: 100%;
    display: flex;
    padding: 0 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.classifiers > header > .closeButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6) inset;
}

.classifiers > header > .closeButton:hover {
    background-color: rgba(255, 74, 74, 0.2);
}

.classifiers > header > .closeButton:hover .closeButtonIcon {
    fill: #ff4a4a;
    stroke: #ff4a4a;
}

.classifiers > header > .closeButton:focus {
    background-color: rgba(255, 74, 74, 0.2);
}

.closeButtonIcon {
    fill: #4b4b4b;
    stroke: #4b4b4b;
    transition: 300ms;
}

.classifiers > header > span {
    display: inline-block;
    margin: 0;
    font-size: 13pt;
    font-weight: 600;
    color: #49525E;
}

.classifiers > section {
    width: 100%;
    margin-top: 10px;
}

.classifiers > section > header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.classifiers > section > header > div:first-child {
    width: 10%;
}

.classifiers > section > header > div:last-child {
    width: 90%;
}

.newClassifierButton {
    outline: none !important;
    background: #3EC300;
    text-transform: uppercase;
    height: 41px;
    width: 41px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #3EC300;
    transition: 300ms;
}

.newClassifierButton:hover {
    background-color: #3dd400;
}

.newClassifierButton:focus {
    border: 3px solid #399600;
}

.newClassifierButton:active {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .4) inset;
}

.newClassifierButtonIcon {
    fill: #fff;
    stroke: #fff;
    stroke-width:2px;
}

.classifiers > section > section {
    height: 270px;
    width: 100%;
    padding: 0 11px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.section {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    /*border-radius: 5px;*/
    z-index: 1;
}

/* width */
.classifiers > section > section::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.classifiers > section > section::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.classifiers > section > section::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
    border: 2px solid transparent;
    transition: 300ms;
}

/* Handle on hover */
.classifiers > section > section::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    border-color: #aaa;
}

.classifiersItem {
    width: 100%;
    height: 82px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #656565;
    transition: 300ms;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 0 4px rgba(155, 155, 155, 0.32);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.classifiersItem:hover {
    box-shadow: 0 0 6px rgba(1, 22, 65, 0.39);
}

.classifiersItem:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.icon {
    fill: #024059;
}

.activeIcon {
    fill: #fff;
}

.selected {
    background-color: #024059;
    box-shadow: 0 0 6px rgba(1, 22, 65, 0.39);
    color: #fff;
}

.classifiersItem p {
    margin: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.editButton {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    cursor: pointer;
    /*z-index: 1;*/
    color: #FF9D52;
    background-color: transparent;
    padding: 0;
    transition: 300ms;
    fill: #747ad5;
}

.classifiersItem:hover .editButton {
    visibility: visible;
    opacity: 1;
}

.editButton:hover {
    fill: #5052a0;
}

.editButtonSelected {
    fill: #fff;
}
/*.light {*/
/*    position: absolute;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    transform:  translate3d(-50%, -50%, 0);*/
/*    border-radius: 50%;*/
/*    background: radial-gradient(rgb(0, 225, 219), rgba(0, 225, 219, 0.77), #fff, #fff);*/
/*    z-index: -1;*/
/*}*/

.classifiers > footer {
    padding: 30px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.classifiers > footer .footerButton {
    width: 164px;
    height: 42px;
    font-weight: 600;
    color: #024059;
    font-size: 15px;
    box-sizing: border-box;
    border: none;
    outline: none !important;
    border-radius: 6px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    cursor: pointer;
}

.classifiers > footer .footerButton:focus {
    background-color: #eeeeee;
}

.classifiers > footer .footerButton:hover {
    background-color: #024059;
    color: #F7F7F7;
}

.classifiers > footer .footerButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8) inset;
}

.spinner {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorWindow {
    width: 90%;;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorWindow h6 {
    font-size: 12px;
    color: #666;
}

@media (max-width: 600px) {
    .classifiers {
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    /* width */
    .classifiers::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    .classifiers::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .classifiers::-webkit-scrollbar-thumb {
        background: #ccc;
        background-clip: content-box;
        border: 2px solid transparent;
        transition: 300ms;
    }

    /* Handle on hover */
    .classifiers::-webkit-scrollbar-thumb:hover {
        background: #aaa;
        border-color: #aaa;
    }

    .classifiers > header {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
    }

    .classifiers > footer {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        z-index: 1;
        margin: auto 0 0 0;
        box-sizing: border-box;
        padding: 5px;
    }

    .classifiers > section > section {
        height: max-content;
    }

    .classifiers > section > header {
        flex-wrap: wrap;
        height: auto;
    }

    .classifiers > section > header > div:first-child {
        width: 15%;
        min-width: 40px;
    }

    .classifiers > section > header > div:last-child {
        width: 85%;
        min-width: 245px;
    }
}
