.modalFooter {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.typeAdd {
    justify-content: flex-end;
}

.finishButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.errorIcon {
    margin-right: 20px;
    color: #f44336;
    border-radius: 50%;
    transition: 300ms;
    cursor: help;
    animation: show 200ms linear;
}

.errorIcon:hover {
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.04);
}

@keyframes show {
    from {transform: scale(0)}
    to {transform: scale(1)}
}