.main {
    width: 100%;
    height: 100%;
    max-height: 590px;
    box-sizing: border-box;
    overflow-y: auto;
    user-select: none;
    position: relative;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5;
}

/* width */
.main::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.main::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
    border: 2px solid transparent;
    transition: 300ms;
}

.main::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    border-color: #aaa;
}

.main > section {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.groupName {
    width: 100%;
    margin: 9px auto;
    padding: 7px 0;
    border: 1px solid #DFDEEE;
    box-sizing: border-box;
    background-color: #F4F7FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.groupName > span {
    color: #535D6B;
    font-size: 14px;
    font-weight: 900;
}

.nextSlide {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0 16px 0 30px;
    transform: translateY(-50%);
    border: none;
    height: 40px;
    box-sizing: border-box;
    outline: none !important;
    background: linear-gradient(to right, transparent, transparent, transparent);
    cursor: pointer;
    transition: 300ms;
}

.nextSlide:hover {
    background: linear-gradient(to right, transparent, #dfe2ec);
}

.nextSlide:active {
    box-shadow: -3px 0 3px rgba(0, 0, 0, .3) inset;
}

.nextSlideIcon {
    fill: #414141;
}

.prevSlide {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 30px 0 16px;
    transform: translateY(-50%);
    border: none;
    height: 40px;
    box-sizing: border-box;
    outline: none !important;
    background: linear-gradient(to left, transparent, transparent, transparent);
    cursor: pointer;
    transition: 300ms;
}

.prevSlide:hover {
    background: linear-gradient(to left, transparent, #dfe2ec);
}

.prevSlide:active {
    box-shadow: 3px 0 3px rgba(0, 0, 0, .3) inset;
}

.prevSlideIcon {
    fill: #414141;
}

.main > section > div.content {
    background-color: #fff;
    overflow: hidden;
    padding: 30px 10px 3px;
    box-sizing: border-box;
}



.classifierButton {
    cursor: pointer;
    padding: 5px 25px;
    transition: 300ms;
    border: 1px solid transparent;
}

.classifierButton:hover {
    background-color: #FF9D52;
    color: #fff;
    border-color: #ff7420;
    box-shadow: 0 0 0 4px rgba(255, 157, 82, 0.51);
}

.classifierButton:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4) inset;
}

.searchWindow {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 15px 17px;*/
    box-sizing: border-box;
    transition: 300ms;
}

.searchWindow > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchWindow > div:first-child{
    width: 40%;
}
.searchWindow > div:last-child{
    width: 60%;
}

.searchInput {
    width: 100%;
    height: 100%;
    text-indent: 45px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #666;
    transition: 300ms;
}

.searchInput:focus + .searchLabel {
    box-shadow: 0 0 4px rgba(130, 159, 252, 0.75) !important;
}

.nameWindow {
    width: 90%;
    margin: 0 auto 20px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameWindow .nameInput {
    width: 350px;
    border: none;
    border-bottom: .5pt solid #cacaca;
    font-size: 13px;
    font-family: 'DejaVu Sans', sans-serif;
    color: #8F8F8F;
    padding: 0 3px;
    box-sizing: border-box;
    display: block;
    transition: 300ms;
}

.nameWindow .nameInput:focus {
    color: #444;
    border-color: #666;
}

.nameWindow .errorField {
    border-color: #FF4B63;
    border-width: 2px;
    animation: error 2s ease-in-out alternate;
    animation-iteration-count: 4;
    transform: scale(1)
}

@keyframes error {
    from {transform: scale(1)}
    to {transform: scale(.9)}
}

.nameWindow .nameLabel {
    display: none;
}

.labelStyle {
    font-size: 12px;
    color: #323232;
    letter-spacing: .4pt;
}

.mainTreeName {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.mainTreeName:hover {
    background-color: #F8EBEB;
    cursor: default;
}

.mainNameBlockSelected {
    background-color: #f8f8f8;
}

.itemMenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.controllerButtons {
    width: 84px;
    overflow: hidden;
    height: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 300ms;
    visibility: hidden;
    opacity: 0;
}

.controllerButtonsOpened {
    visibility: visible;
    opacity: 1;
}

.cntBtns {
    border: none;
    transition: 300ms;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    height: 21px;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
}

.cntBtns:hover {
    background: linear-gradient(to top, #f6adad, #F8EBEB, #F8EBEB, #F8EBEB, #f6adad);
}

.cntBtns:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6) inset;
}

.arrows {
    fill: none;
    stroke: #3f62a8;
    fill-rule: evenodd;
}

.addIcon {
    fill: #0eb139;
    stroke: #0eb139;
}

.deleteIcon {
    fill: #ff4a4a;
    stroke: #ff4a4a;
}

.editIcon {
    fill: #747ad5;
}

.insertBtn {
    border: none;
    outline: none !important;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #1768a5;
    height: 21px;
    width: 21px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 0;
    padding: 0 5px;
    box-sizing: border-box;
    visibility: hidden;
    border-right: 1px solid #bfbbbb;
    opacity: 0;
    position: relative;
    z-index: 1;
}


.insertBtn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 300ms;
    background-color: rgba(23, 104, 165, 0.7);
    overflow: hidden;
}

.insertBtn:hover {
    color: #fff;
}

.insertBtn:hover:after {
    width: 100%;
}

.classifMainName:hover .insertBtn,
.classifMainName:hover .cancelBtn {
    visibility: visible;
    opacity: 1;
}

.cancelBtn {
    border: none;
    outline: none !important;
    background-color: transparent;
    cursor: pointer;display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    transition: 300ms;
    visibility: hidden;
    opacity: 0;
    color: #ff4a4a;
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
    border-left: 1px solid #bfbbbb;
    position: relative;
    z-index: 1;
}

.cancelBtn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 300ms;
    background-color: rgba(255, 74, 74, 0.7);
    overflow: hidden;
}

.cancelBtn:hover {
    color: #fff;
}

.cancelBtn:hover:after {
    width: 100%;
}

.classifMainName {
    margin-left: 10px;
    font-weight: 900;
    color: #666;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

@media (max-width: 600px) {

    .main {
        height: 100%;
        max-height: 100%;
        background-color: #fff;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .searchWindow {
        flex-direction: column-reverse;
        height: auto;
    }
    .searchWindow > div:first-child{
        width: 100%;
        justify-content: flex-end;
    }
    .searchWindow > div:last-child{
        width: 100%;
        margin-bottom: 10px;
    }
}