.searchBorder {
    height: 41px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownWindow {
    width: 90px;
    height: 41px;
}

.dropDownBtn {
    color: #5A5A5A;
    width: 100%;
    height: 41px;
    font-size: 9px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    background-color: #F9F9F9;
    border-radius: 6px 0 0 6px;
    outline: none !important;
    cursor: pointer;
    transition: 300ms;
}

.dropDownBtn:hover {
    box-shadow: 0 0 4px rgba(130, 159, 252, 0.76);
}

.dropDownBtn:focus {
    background-color: rgba(20, 146, 230, 0.03);
}

.dropDownBtn span {
    margin-right: 10px;
}

.bottomAngle {
    fill: #5A5A5A;
}

.searchInput {
    height: 41px;
    width: calc(100% - 130px);
    border-radius: 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #483A3A;
    outline: none !important;
    transition: 300ms;
    position: relative;
    z-index: 1;
}

.fullWidth {
    width: calc(100% - 90px);
    border-radius: 0 6px 6px 0;
}

.withoutDrop {
    width: calc(100% - 40px);
    border-radius: 6px 0 0 6px;
    text-indent: 40px;
}

.without {
    width: 100%;
    border-radius: 6px;
}

.searchInput:hover {
    box-shadow: 0 0 4px rgba(130, 159, 252, 0.76);
}

.searchInput:focus {
    background-color: rgba(20, 146, 230, 0.03);
}

.searchSpecific {
    width: 40px;
    height: 41px;
    box-sizing: border-box;
}

.customSearchBtn {
    width: 40px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 0 6px 6px 0;
    border-left: 1px solid #cbcbcb;
    background-color: #fff;
    cursor: pointer;
    transition: 300ms;
}

.customSearchBtn:hover {
    box-shadow: 0 0 4px rgba(130, 159, 252, 0.76);
}

.customSearchBtn:focus {
    background-color: rgba(20, 146, 230, 0.03);
}

.customSearchIcon {
    fill: #FF8927;
    stroke: #fff;
    stroke-width: 0;
}